@CHARSET "UTF-8";

.office-hours-block .form-item label {
  display:inline;
}
div.office-hours-block div {
display: inline;
}

div.office-hours-block span.day {
	width:100px;
	display:inline-block;
}

div.field-widget-office-hours table {
	width: 770px;
}

div.field-widget-office-hours table tr td{
	width: 55%;
}